.login-container{
    background-color: var(--background-color);
}

.login-btn{
    color: var(--button-text);
    background-color: var(--button-bg);
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    border: solid 1px var(--button-bg);
    font-weight: 500;
}